<template name="question_form">
  <form class="form-horizontal new-question">
    <div class="col-sm-12">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon" style="vertical-align: top">
            <span class="glyphicon glyphicon-align-left"></span>
          </div>
          <textarea rows="5" placeholder="What would you like to ask?" name="summary" class="form-control" id="question_summary"></textarea>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-block btn-lg btn-primary">Ask Me Anything!</button>
      </div>
    </div>
  </form>
</template>