<template name="question_row">
  <tr class="question_row">
      <td>
        <h4>{{summary}}</h4>
      </td>
      <td class="text-right text-nowrap" style="vertical-align: middle">
        <div class="btn-group">
          <button type="submit" class="btn btn-default vote-up">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
          </button>
          <button type="submit" class="btn btn-default vote-down">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
          </button>
        </div>
        <span class="badge badge-info">{{voteCount}}</span>
      </td>
  </tr>
</template>